<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width" />
      <title>Simulator de Logica digitala</title>
      <link rel="stylesheet" href="../css/components.css">
      <link rel="stylesheet" href="../css/responsee.css">
      <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="../owl-carousel/owl.theme.css">
      <!-- CUSTOM STYLE -->  
      <link rel="stylesheet" href="../css/template-style.css">
      <link rel="stylesheet" href="../css/stuff.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="../js/jquery-ui.min.js"></script>    
      <script type="text/javascript" src="../js/modernizr.js"></script>
      <script type="text/javascript" src="../js/responsee.js"></script>   
      <!--[if lt IE 9]> 
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
      <![endif]--> 
   </head>
   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->  
      <header>
         <nav>
            <div class="line">
               <div class="top-nav">              
                  <div class="logo hide-l">
                     <a href="../index.html">Logic <br /><strong>SIM</strong></a>
                  </div>                  
                  <p class="nav-text">Custom menu text</p>
                  <div class="top-nav s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="../index.html">Home</a>
                        </li>
                     </ul>
                  </div>
                  <ul class="s-12 l-2">
                     <li class="logo hide-s">
                        <a href="../index.html">LOGIC <br /><strong>SIM</strong></a>
                     </li>
                  </ul>
                  <div class="top-nav s-12 l-5">
                     <ul class="top-ul chevron">
                       <li>
                           <a>Componente</a>           
                           <ul>
                              <li><a href="../components/and.html">AND</a>
                              </li>
                              <li><a href="../components/or.html">OR</a>
                              </li>
                              <li><a href="../components/xor.html">XOR</a>
                              </li>
                              <li><a href="../components/not.html">NOT</a>
                              </li>
                           </ul>
                        </li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <section>
		<div id="head">
        	<div class="line">
               <h1>Poarta AND</h1>
            </div>
        </div>
         <!-- FIRST BLOCK --> 	
         <div id="first-block">
            <div class="line">
               <h2 align="right" id="sym"> Simbol </h2>  
               <img id="gate" align="right" src="../simulator/gates/and.png">
               </div>
            <div class="line">
               <table align="right" id="inout">
               <tbody><tr align="center" bgcolor="#DDEEFF">
               <td colspan="2"><b>INTRARE</b></td>
               <td><b>IEȘIRE</b></td>
               </tr>
               <tr align="center" bgcolor="#DDEEFF">
               <td>A</td>
               <td>B</td>
               <td>A AND B</td>
               </tr>
               <tr align="center" bgcolor="#DDFFDD">
               <td>0</td>
               <td>0</td>
               <td>0</td>
               </tr>
               <tr align="center" bgcolor="#DDFFDD">
               <td>0</td>
               <td>1</td>
               <td>0</td>
               </tr>
               <tr align="center" bgcolor="#DDFFDD">
               <td>1</td>
               <td>0</td>
               <td>0</td>
               </tr>
               <tr align="center" bgcolor="#DDFFDD">
               <td>1</td>
               <td>1</td>
               <td>1</td>
               </tr>
               </tbody></table>
               <p id="def" >
                  &emsp;&emsp;<b>Poarta AND</b> este o poartă logică digitală care implementează operația de conjuncție logică - se comportă conform tabelului de adevăr din dreapta. O ieșire cu nivel înalt de tensiune (1) rezultă doar dacă ambele intrări sunt cu nivel înalt (1). Dacă nici una sau doar o intrare este cu nivel înalt de tensiune, atunci ieșirea este cu nivel jos (0).
               </p>
               
            </div>
         </div>
         <!-- SECOND BLOCK --> 	
        <!--  <div id="second-block">
            <div class="line">
               <div class="margin-bottom">
                  <div class="margin">
                     <article class="s-12 l-8 center">
                        <h1>Amazing title</h1>
                        <p class="margin-bottom">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                        <a class="button s-12 l-4 center" href="product.html">Read more</a>  			
                     </article>
                  </div>
               </div>
            </div>
         </div> -->
      </section>
      <!-- FOOTER -->   
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2015, Vision Design - graphic zoo
               </p>
            </div>
            <div class="s-12 l-6">
               <p class="right">
                  <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
               </p>
            </div>
         </div>
      </footer>
   </body>
</html>