#screen {
    width: 400px;
    height: 300px;
    border: 2px solid navy;
}

.component {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    position: absolute;
    background-color: blue;
}

.light {
    width: 40px;
    height: 40px;
}
.switch {
    width: 40px;
    height: 40px;
}

.true {
    width: 40px;
    height: 40px;
    background-color: green;
}

.false {
    width: 40px;
    height: 40px;
    background-color: red;
}

.not {

}

.and {
    background-color: rgb(0,255,255);
}

.or {

}